@using Domain.Entities
@model IEnumerable<Account>

@{
    ViewBag.Title = "Аккаунты";
}

@foreach (Account accounts in Model)
{
    <div>
        <p>
            @accounts.login
            @accounts.password
        </p>
    </div>
    <hr />
}

